{% extends "challenges/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{{ ach_form.media }}

<div class="row justify-content-center">
	<div class="content-section col-lg-4">
    <h1>{{mnt_name}}</h1>
		<div class="row justify-content-center">
        <form method="post">
          {% csrf_token %}
          {{ ach_form|crispy }}
          <div class="row justify-content-center">
            <small class="text-muted pb-4">leave blank to represent non-completion.</small>
          </div>
          <div class="row justify-content-center">
            <input class="btn btn-sm btn-outline-secondary col-lg-4" type="submit" value="Update">
          </div>
        </form>
      </div>
	</div
</div>

{% endblock content %}