{% extends "challenges/base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-4 transparent">
        <div class="content-section">
            {% if mountains_list %}
                <ol>
                    {% for mountain in mountains_list %}
                        <li>
                            <a class="a-color" href="/challenges/{{ challenge_name }}/{{ mountain.mnt_name }}">{{ mountain.mnt_name}}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No Mountains To Display.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}