{% extends "challenges/base.html" %}

{% block navbar-links-left %}
  {{ block.super }}
  <a class="nav-item nav-link" href="{% url 'detail_chall' challenge_name %}">{{ challenge_name }}</a>
{% endblock navbar-links-left %}

{% block content %}
<div class="container-fluid">
  {% if mountain %}
    <h1 class="border-bottom border-light light">{{ mountain.mnt_name }}, {{ rel_city }} {{mountain.longitude}}, {{mountain.latitude}}</h1>
    <div class="row justify-content-center">
      <div class="content-section col-sm-12 col-md-12 col-lg-6">
        <h3 class="border-bottom">Hike Information</h3> 
        <ul>
          <li>Expected Elevation: {{ mountain.elevation }} ft</li>
          <li>Expected Distance: {{ mountain.distance }} mi</li>
          <li>Expected Duration: {{ mountain.duration }} hrs</li>
          <li>Date Completed: {{ date_completed }}</li>
        </ul>
        <div class="row justify-content-center">
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'achievement_edit' challenge_name mountain.mnt_name %}">edit</a>
        </div>
      </div>
    </div>
      <div class="row justify-content-center">
        <h1 style="color: #ffffff">Weather Projections</h2>
      </div>
        <p class="text-muted">
          {% if curr_days and week_days and week_nights %}
          <!-- Weather -->
          <div class="row padding justify-content-center">  <!-- Today and Tonight row -->
            {% for day in curr_days %}
              {% if day.name == "Today" or day.name == "This Afternoon" %}
                <div class="content-section col-sm-12 col-lg-4 text-white m-1 bg-day-outer shadow-lg">
                  <h3 class="border-bottom text-white">{{ day.name }}</h3>
                  <ul class="list-group">
                    <li class="list-group-item bg-day-inner">
                      <p class="border-bottom m-0">temp</p>
                      {{ day.temp }} F
                    </li>
                    <li class="list-group-item bg-day-inner">
                      <p class="border-bottom m-0">precip</p>
                      {{ day.precip }} %
                    </li>
                    <li class="list-group-item bg-day-inner">
                      <p class="border-bottom m-0">wind</p>
                      {{ day.wSpeed }}
                    <li class="list-group-item bg-day-inner">
                      <p class="border-bottom">forecast details</p>
                      <p>{{ day.dForecast }}</p>
                    </li>
                  </ul>
                </div>
                  {% elif day.name == "Tonight" %}
                  <div class="content-section col-sm-12 col-lg-4 text-white m-1 bg-night-outer shadow-lg">
                    <h3 class="border-bottom text-white">{{ day.name }}</h3>
                    <ul class="list-group">
                      <li class="list-group-item bg-night-inner">
                        <p class="border-bottom m-0">temp</p>{{ day.temp }} F
                      </li>
                      <li class="list-group-item bg-night-inner">
                        <p class="border-bottom m-0">precip</p>
                        {{ day.precip }} %
                      </li>

                      <li class="list-group-item bg-night-inner">
                        <p class="border-bottom m-0">wind</p>
                        {{ day.wSpeed }}
                      </li>
                      <li class="list-group-item bg-night-inner">
                        <p class="border-bottom">forecast details</p><p>{{ day.dForecast }}</p>
                      </li>
                    </ul>
                  </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="row padding justify-content-center">  <!-- Weekdays row -->
            {% for day in week_days %}
              <div class="content-section col-sm-12 col-md-2 col-lg-2 col-xl-1 text-white m-1 bg-day-outer shadow-lg">
                <h3 class="border-bottom text-white">{{ day.name }}</h3>
                <ul class="list-group">
                  <li class="list-group-item bg-day-inner"><p class="border-bottom m-0">temp</p>{{ day.temp }} F</li>
                  <li class="list-group-item bg-day-inner">
                    <p class="border-bottom m-0">
                      precip
                    </p>
                    {{ day.precip }} %
                  </li>
                </ul>
              </div>
            {% endfor %}
          </div>
          <div class="row padding justify-content-center">  <!-- Weeknights row -->
              {% for night in week_nights %}
              <div class="content-section col-sm-12 col-md-2 col-lg-2 col-xl-1 text-white m-1 bg-night-outer shadow-lg mb-5">
                  <h3 class="border-bottom text-white">{{ night.name }}</h3>
                  <ul class="list-group">
                      <li class="list-group-item bg-night-inner"><p class="border-bottom m-0">temp</p>{{ night.temp }} F</li>

                      <li class="list-group-item bg-night-inner">
                          <p class="border-bottom m-0">
                              precip
                          </p>
                          {{ night.precip }} %
                      </li>
                  </ul>
              </div>
              {% endfor %}

          {% else %}
          <div class="row justify-content-center">
            <div class="content-section col-sm-12 col-md-2 col-lg-2 col-xl-1">
              <p>{{ error_msg }}</p>
            </div>
          </div>
          {% endif %}
        </p>
  {% endif %}
</div>
{% endblock content %}